/* this is bruth forced
Without using position */

div{
    border: 2px solid black;
    margin: 5px;
    padding: 3px;
    
}

#first {
    /* margin: auto; */
    padding: auto;
    height:200px ;
    width:200px ;
    text-align: center;
    
}

#second {
    margin: auto;
    margin-top: 2%;
    height: 90%;

    width:90% ;
    background-color: yellow;
    border-radius: 50%;
}
#eye1, #eye2{
    background: aquamarine;
    display: inline-block;
    margin-top: 15%;
    width: 20%;
    height: 20%;
    border-radius: 50%;

}
#mouth{
    background-color: rgb(205, 191, 219);
    margin:  10% 20%;
    height: 20%;
    border-bottom-left-radius: 50% ;
    border-bottom-right-radius: 50% ;

}