
body{
    /* background-color: #5F4B8BFF; */
    /* display: inline-block; */
    display: grid;
    height: 100vh;

}
.parent{
    background-color: #E69A8DFF;
    /* padding: 10px; */
    height: 400px;
    width: 600px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(4,1fr);
    gap: 10px ;
    /* place-items: center; */
    place-self: center;
}

.child{
    text-align: center;
    background-color: #e2e2e2c7;
    /* border: 1px dotted black; */
    /* height: 70px; */
    /* width: 70px; */
}
#first{
    grid-column: 1/ span 2;
}
#third{
    grid-row: 1/ span 2;

}